*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 65px;
    background-color:rgba(128, 128, 128, 0.185);
    position: fixed;
}
.navbar .menu{
    width: 800px;
    height: 100%;
    /* background-color: burlywood; */
    margin: auto;
}
.menu-link .item .link{
    /* position: relative; */
    color: green;
    float: left;
    padding: 20px 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto';
}
.item:hover .link{
    background:url(../img/hover_active.jpg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center bottom;
}

.menu-link .item-1 .link-1{
    color: rgba(255, 255, 255, 0.872);
    float: left;
    padding: 20px 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto';
    background-color: rgb(52, 52, 52);
    border: 4px double rgba(19, 246, 186, 0.398);
    border-radius: 3px;
    height: 65px;
    /* background-clip: content-box; */
}
.link-1 .link .fa-solid{
    font-size: 20px;
}
.item .link .fa-bars{
    padding: 0px 5px;
    font-size: 18px;
}
.item .link .fa-regular{
    padding: 0px 5px;
    font-size: 18px;
}
.item .link .fa-phone{
    padding: 0px 5px;
    font-size: 18px;
}
.item .link .fa-info{
    padding: 0px 5px;
    font-size: 18px;
}
.background{
    height: 100vh;
    background: url(../img/body_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    height: 300px;
    background-color: red;
}

.container h1{
    color: yellow;
    font-size: 30px;
    text-align: center;
}